@charset "utf-8";

@font-face {
  font-weight: 500;
  font-family: Onest;
  src: url("./fonts/WOFF/OnestRegular1602-hint.woff");
}

@font-face {
  font-weight: 700;
  font-family: Onest;
  src: url("./fonts/WOFF/OnestMedium1602-hint.woff");
}

@font-face {
  font-weight: 300;
  font-family: Onest;
  src: url("./fonts/WOFF/OnestLight1602-hint.woff");
}

html {
  font-size: 13px;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #F5F5F5;
  font-family: 'Onest', Arial, sans-serif;
  line-height: 130%;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  background: linear-gradient(0deg, rgba(166, 126, 255, 0.1), rgba(166, 126, 255, 0.1)), url(./src/images/list.jpg); 
  background-size: cover;
  width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
  height: 100vh;
}

.blue-text {
  color: #136EF6;
}

.bold {
  font-weight: bold;
}

.px10 {
  font-size: 0.76rem;
}

.px12 {
  font-size: 0.92rem;
}

.px13 {
  font-size: 1rem;
}

.px15 {
  font-size: 1.1rem;
}

.px16 {
  font-size: 1.2rem;
}

.px18 {
  font-size: 1.4rem;
}

.px34 {
  font-size: 2.6rem;
}

.border-color-blue {
  box-sizing: 0.5px;
  border-color: blue;
}

.flex-item {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.modal {
  position: relative;
}

.modal-dialog-centered {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border: none;
  width: 930px;
  height: auto;
  background: linear-gradient(0deg, rgba(166, 126, 255, 0.1), rgba(166, 126, 255, 0.1)), url(./src/images/list.jpg); 
}

.flex {
  display: flex;
}

.modal-text {
  margin-left: 50px;
  margin-right: 30px;
}

.mr-20 {
  margin-right: 20px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.modal-content img {
  margin-top: -2rem;
}

.form-floating>.form-control {
  height: 50px;
}

a {
  color: #4A4A53;
}